<mat-drawer-container class="example-container" hasBackdrop="true" autosize>
    <mat-drawer #drawer mode="over">
      <mat-toolbar class="toolbar">
        <span class="title">E-buy</span>
          <mat-divider></mat-divider>  
        <span class="example-spacer"></span>
        <div class="btn-close">                   
            <mat-icon (click)="drawer.close()">close</mat-icon>        
        </div>
      </mat-toolbar>
      <div class="content-menu" *ngFor="let item of menu">
        <a href="#{{item.url}}">{{item.name}}</a>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <mat-toolbar class="toolbar">          
        <mat-icon (click)="drawer.toggle()">menu</mat-icon>      
        <span class="example-spacer"></span>
        <span>Hello, {{user.username}}</span>
        <button *ngIf="user.urlImg != undefined" mat-icon-button (click)="openBottomSheet()">
          <img class="profile-img" src="../../../assets/images/profileImg/{{user.urlImg}}" alt="">
        </button>
        <button *ngIf="user.urlImg == undefined" mat-icon-button (click)="openBottomSheet()">
          <img class="profile-img" src="../../../assets/images/profileImg/profile-img-0.png" alt="">
        </button>
      </mat-toolbar>        
      <div class="categories-content">      
        <ng-container *ngTemplateOutlet="sectionbuyer"></ng-container>   
      </div>
    </mat-drawer-content>
</mat-drawer-container>
<ng-template #sectionbuyer>
  <div *ngIf="user.role == 'seller'" class="add-box">
    <button (click)="openmodal()" mat-mini-fab color="white" aria-label="Example icon button with a menu icon">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <app-generic-section [title]="titless[0]" [data]="data" [mode]="mode" [rowh]=500></app-generic-section>
 
  <app-generic-section [title]="titless[1]" [data]="seller" [mode]="'profile'" [rowh]=325></app-generic-section>
  
  <app-generic-section [title]="titless[2]" [data]="categories" [mode]="'small'" [rowh]=325></app-generic-section>
</ng-template>