.toolbar{
    color: white;
    background-color: #00467F;
    background: -webkit-linear-gradient(to right, #A5CC82, #00467F);
    background: linear-gradient(to right, #A5CC82, #00467F);

    display: flex;
    justify-content: space-between;
}
button{
    margin: 5px;
    font-size: 10px;
}