<mat-toolbar class="toolbar">
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Search</mat-label>
        <input matInput>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </p>
    <div *ngIf="user !== undefined">
      <span *ngIf="user.role === 'seller'">{{user.money | currency}}</span>
      <div *ngIf="user.role === 'buyer'">
        <button mat-icon-button (click)="openhistorymodal()" aria-label="Example icon button with a heart icon">
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </div>
    </div>
</mat-toolbar>
