<mat-toolbar class="toolbar">
    <span>
        <div class="example-button-container">
        <button mat-mini-fab color="white" aria-label="Example icon button with a menu icon">
          <!-- <mat-icon >perm_contact_calendar</mat-icon> -->
          F
        </button>
        <button mat-mini-fab color="white" aria-label="Example icon button with a menu icon">
            <!-- <mat-icon>perm_contact_calendar</mat-icon> -->
            t
        </button>
      </div>
    </span>
    <span class="example-spacer"></span>
    <span></span>
    <span *ngIf="user.money != null">${{user['money']}}</span>
    <span *ngIf="user.money == null">$0.0</span>
</mat-toolbar>
