<div class="menu-profile">
    <mat-nav-list>
        <div class="section-profile">
            <img class="profile-img" src="../../../assets/images/profileImg/img_568656.png" alt="">
            <div>
                <h3 mat-line>nombre usuario</h3>
                <h3 mat-line>nombre completo</h3>
            </div>
        </div>          
        <mat-divider></mat-divider>  
        <a href="" mat-list-item >
          <span mat-line>View profile</span>
        </a>      
        <a href="" mat-list-item >
            <span mat-line>Setting</span>
        </a>
        <mat-divider></mat-divider> 
        <a href="" mat-list-item >
          <span mat-line>Log out</span>
        </a>
      </mat-nav-list>
</div>