<div class="menu-profile">
    <mat-nav-list>
        <div class="section-profile">
            <img *ngIf="user.urlImg == undefined" class="profile-img" src="../../../assets/images/profileImg/profile-img-0.png" alt="">
            <img *ngIf="user.urlImg != undefined" class="profile-img" src="../../../assets/images/profileImg/{{user.urlImg}}" alt="">
            <div>
                <h3 mat-line>{{user.username}}</h3>
                <h3 mat-line>{{user.name}} {{user.lastname}}</h3>
            </div>
        </div>          
        <mat-divider></mat-divider>  
        <a href="/home/profile" mat-list-item >
          <span mat-line>View profile</span>
        </a>      
        <a href="/home/profile" mat-list-item >
            <span mat-line>Setting</span>
        </a>
        <mat-divider></mat-divider> 
        <a (click)="logOut()" mat-list-item >
          <span mat-line>Log out</span>
        </a>
      </mat-nav-list>
</div>