<div class="container">
    <div class="card-body example-form">
        <div class="title">
          <span>Log in</span>  
        </div>
        <form [formGroup]="userLogForm" class="form-content">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Username</mat-label>
                <input type="text" matInput formControlName="username">  
                <mat-error *ngIf="userLogForm.get('username')?.invalid">
                    This field <strong>is required</strong>
                </mat-error>                         
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" matInput formControlName="password">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="userLogForm.get('password')?.invalid">
                    This field <strong>is required</strong>
                  </mat-error>
            </mat-form-field> 
            <mat-error *ngIf="hasError"> 
                {{ error }} 
            </mat-error>
            <div class="margin-button">
                <button routerLink="/" mat-raised-button>cancel</button>
                <button type="submit" (click)="submit()"  mat-raised-button color="primary" [disabled]="userLogForm.invalid">agree</button>
            </div>
        </form>
        <div class=" text-center ">
            <span>Don't you have an account yet? <a routerLink="/auth/register">Sign up</a></span>
        </div>
    </div>
</div>
