<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators" *ngFor="let data of datacarousel; let i=index">
    <button type="button" (click)="showSlide(i)" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="i" class="carousel-indicator" aria-current="true" aria-label="Slide"></button>
    <button type="button" (click)="showSlide(1)"  data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" class="carousel-indicator" aria-label="Slide 2"></button>
    <button type="button" (click)="showSlide(2)" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" class="carousel-indicator" aria-label="Slide 3"></button>
    <button type="button" (click)="showSlide(3)" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" class="carousel-indicator" aria-label="Slide 4"></button>
 
  </div>
  <div class="carousel-inner">
    <div class="wapper-carousel" *ngFor="let data of datacarousel">
      <app-item-carousel [title]="data.title" [subtitle]="data.subtitle" [urlimg]="data.url"></app-item-carousel>
    </div>    
  </div>
  <button (click)="showSlide(-1)" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button (click)="plusSlides(1)" class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>