img{
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
  max-height: 800px;
}
.carousel{
  box-shadow: 4px 5px 24px 5px rgba(0, 0, 0, 0.37);
  width: 100%;
  min-height: 200px;
  max-height: 800px;
  height: 800px;
}
.carousel-caption{
  text-align: left;
}
h1{
  font-size: 2.5rem;
}
h2{
  font-size: 2rem;
}