<div class="container">
    <div class="contentSlides">
        <div *ngFor="let data of datacarousel" class="mySlides">
            <img  src="{{data.url}}" style="width:100%" alt="{{data.text}}">
            <div class="">{{data.text}}</div>
        </div>
        <div *ngFor="let data of datacarousel" class="">
          <button
          type="button"
          data-mdb-target="#carouselExampleCaptions"
          data-mdb-slide-to="3"
          aria-label="Slide 4"
        ></button>
        </div>
    </div>
    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
</div>