.carousel-wrapper {
    box-shadow: 5px 5px 15px 0px rgba(46, 61, 73, 0.2);
  }  
  .carousel-container {
    overflow: hidden;
    margin: 0 auto;
  }  
  .carousel {
    display: flex;
    animation: sliding 35s infinite;
  }
  .carousel:hover {
    animation-play-state: paused;
  }
  @keyframes sliding {
    0% {
        transform: translateX(0px)
      }
      33.333% {
        transform: translateX(-900px)
      }
      66.666% {
        transform: translateX(-1800px)
      }
      99.999% {
        transform: translateX(-2700px)
      }
      100% {
        transform: translateX(0px)
      }
  }
  @media screen and (max-width: 648px){      
    @keyframes sliding {
      0% {
        transform: translateX(0);
      }
      33.333%  {
        transform: translateX(-400px);
      }
      66.666% {
        transform: translateX(-400px);
      }
      99.999%{
        transform: translateX(-800px);
      }
      100% {
        transform: translateX(0);
      }
    }
  }
  .boximage{
    display: flex;
    flex-direction: row;
    flex: 1 0 100%;
  }
  .boximage figure {
    display: flex;
    margin: 0;
    height: 500px;
    background-size: cover;
  }
  .boximage img {
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
    object-fit: cover;
  }
  .boximage div > h1 {
    padding: 40px 20px 0 20px;
    font-size: 2.7rem;
    white-space: pre-line; 
  }