<div class="carousel-wrapper">
    <div class="carousel-container">
      <div class="carousel">
        <div class="boximage" *ngFor="let data of datacarousel">
            <figure>
                <div>
                    <img src={{data.url}} alt="">
                </div>
                <div>
                    <h1>
                        {{data.text}}
                    </h1>
                    
                </div>
            </figure>
        </div>        
      </div>
    </div>
</div>