<section class="footer">
    <span>
        <h3>Social Media</h3>
        <div class="buttons-container">
            <button mat-mini-fab color="white" aria-label="Example icon button with a menu icon">
                <mat-icon >facebook</mat-icon>
            </button>
            <button mat-mini-fab color="white" aria-label="Example icon button with a menu icon">
                <mat-icon>messenger</mat-icon>
            </button>
       </div>
    </span>
    <span class="example-spacer"></span>
    <div class="box-info">
        <span>This site was created with angular, MongoDB, and love by 
            <a target="_blank" href="https://www.linkedin.com/in/mar%C3%ADa-del-carmen-luciano-garc%C3%ADa-59513a221/">MLuciano</a>        
        </span>
        <div>
            <span>2022-2022</span>
        </div>
    </div>
</section>
