.footer{
    /* position: fixed;
    bottom: 0; */
    width: 100%;
    z-index: 2;
    height: 85px;
    border-top: solid 1px transparent;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
}