.example-card {
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(85, 107, 47, 0.164);
    padding: 5px;
}
.card-small{
    max-height: 140px;
    max-width: 140px;
}
.img-small{
    max-width: 100px;
    max-height: 120px;
}
.card-profile{    
    max-width: 170px;
    max-height: 200px;
}
.card-big{
    max-width: 265px;
}
.img-big{
    max-height: 200px;
    max-height: 180px;
}
.card-editable{
    max-width: 200px;
}
.card-medium{
    max-width: 220px;
}
.img-medium{
    max-width: 200px;
    max-height: 140px;
}
mat-card-actions{
    display: flex;
    justify-content: flex-end;
}
.box-img{
    display: flex;
    justify-content: center;
    align-self: center;
}
.img-medium, .img-big{   
    width: 200px;
    height: 225px;
    
}
img{
    display:block;
    width: 95.3%;
    height: 95.3%;
}
.circle-img{
    border-radius: 50%;
}

.circle-img2{
    border-radius: 20%;
}
mat-card-title{
    text-align: center;
    font-size: 18px;
}
.card-content, p{
    width: 100%;
    z-index: 2;
    padding: 5px;
    background-color: rgba(85, 107, 47, 0.164);
}