.example-card {
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}
.circle-img{
    border-radius: 50%;
}
.card-small{
    max-width: 140px;
}
.card-profile{
    
    max-width: 170px;
}
.card-big{
    max-width: 265px;
    height: 50%;
}
.mat-card-actions{
    display: flex;
    justify-content: space-between
}
.card-medium{
    max-width: 220px;
}
.box-img{
    width: 80%;
    display: flex;
    justify-content: center;
}
.card-editable{
    max-width: 200px;
}
.card-edit{
    display: flex;
    justify-content: flex-end;
}
.img-medium{
    width: 150px;
    height: 180px;
}
.img-small{
    width: 90px;
    height: 100px;
}
.img-big{
    width: 180px;
    height: 200px;
}