<div class="container">
    <div class="card-body example-form">
        <div class="title">
          <span>Register</span>  
        </div>
        <form [formGroup]="userForm" (ngSubmit)="submit()" class="form-content">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Name</mat-label>
                <input type="text" matInput formControlName="name">
                <mat-error *ngIf="userForm.get('name')?.invalid">
                    This field <strong>is required</strong>
                </mat-error>                           
            </mat-form-field> 
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Lastname</mat-label>                 
                <input type="text"  matInput formControlName="lastname">
                <mat-error *ngIf="userForm.get('lastname')?.invalid">
                    This field <strong>is required</strong>
                  </mat-error>
            </mat-form-field>                            
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Username</mat-label>
                <input type="text" matInput formControlName="username">
                <mat-error *ngIf="userForm.get('username')?.invalid">
                    This field <strong>is required</strong>
                </mat-error>
            </mat-form-field>             
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" matInput formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="userForm.get('password')?.invalid">
                    This field <strong>is required</strong>
                </mat-error>
           </mat-form-field>
            <div *ngIf="userForm.get('password')?.dirty">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput [type]="hide2 ? 'password' : 'text'" matInput formControlName="confirmpassword">
                    <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                      <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="userForm.get('confirmpassword')?.invalid">
                        This field <strong>is required</strong>
                    </mat-error>
                    <mat-error *ngIf="userForm.invalid && userForm.get('confirmpassword')?.invalid  && userForm.get('confirmpassword')?.touched">
                        Passwords do not match
                    </mat-error>
                </mat-form-field>
            </div>
            <mat-radio-group aria-label="Select an option" formControlName="role">
                <h4>Role</h4>
                <mat-radio-button value="seller">Seller</mat-radio-button>
                <mat-radio-button value="buyer">Buyer</mat-radio-button>
            </mat-radio-group>             
            <mat-error *ngIf="hasError"> 
                {{ error }} 
            </mat-error>
            <div class="margin-button">
                <button routerLink="/" mat-raised-button>cancel</button>
                <button type="submit" mat-raised-button color="primary" [disabled]="userForm.invalid">submit</button>
            </div>
        </form>
        <div class=" text-center ">
            <span>already have an account? <a routerLink="/auth/login">log in</a></span>
        </div>
    </div>
</div>

